/* styles.css */

/* Add styles for the header */
/* Centering the header section */
.header-container {
    text-align: center;
    background-color: purple;
    padding: 20px;
}

.header-container h1 {
    margin-bottom: 10px;
    color: #fff; 
}

.header-container nav ul {
    padding: 0;
    margin: 0;
}

.header-container nav ul li {
    display: inline;
    margin-right: 20px;
}

.header-container nav ul li a {
    color: #fff;
    text-decoration: none;
}

.header-container nav ul li a:hover {
    text-decoration: underline;
}


nav ul li a {
    color: #fff; /* Set the color of the links to white */
    text-decoration: none;
}

/* Add styles for the main section */
main {
    background-color: silver;
    padding: 20px;
}

main p {
    font-weight: bold;
}

/* Add styles for the footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

/* Add styles for the LinkedIn icon */
footer img {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    vertical-align: middle;
}

/* Contact form styles */
#contactUs {
    background-color: #f9f9f9;
    padding: 20px;
}

#contactUs h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

#contactUs form {
    max-width: 600px;
    margin: 0 auto;
}

#contactUs label {
    display: block;
    margin-bottom: 10px;
}

#contactUs input[type="text"],
#contactUs input[type="email"],
#contactUs textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#contactUs textarea {
    resize: vertical;
}

#contactUs input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

#contactUs input[type="submit"]:hover {
    background-color: #0056b3;
}

/* CSS for back to top button */
#backToTopBtn {
    display: none; /* Hide the button by default */
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: #fff;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 24px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000; /* Ensure the button appears above other content */
}

#backToTopBtn:hover {
    background-color: #0056b3;
}

/* CSS for sliding images */
.slider {
    position: relative;
}

.slider img {
    max-width: 250px; /* Set the maximum width of the images */
    height: auto; /* Maintain aspect ratio */
    transition: transform 0.3s ease;
}

.slider img:hover {
    transform: scale(1.1); /* Scale the image by 10% on hover */
}

